{% extends "base.html" %}
{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/target.css" type="text/css"/>
{%endblock%}
{% block title %}Campaigns{% endblock %}

{%block content%}
  {% for campaign in campaigns %}
<div class="block" style="width:400px;">
  <em><a href="{{campaign.get_absolute_url}}">{{campaign.get_verb_display}} {{campaign.name}}</a>:</em>
  <h3>{{campaign.users_joined_campaign.count}} user{{campaign.users_joined_campaign.count|pluralize}},
    {% with campaign.products.count as num_products %}{{num_products}} product{{num_products|pluralize}}{%endwith%},
    {% with campaign.companies.count as num_companies %}{{num_companies}} compan{{num_companies|pluralize:"y,ies"}}{%endwith%}
  </h3>
{{campaign.description|urlize|linebreaksbr}}
</div>
  {%endfor%}
{%endblock%}

