{% extends "base.html" %}

{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/target.css" type="text/css"/>
{%endblock%}
{% block title %}{{campaign.get_verb_display}} {{campaign.name}}{% endblock %}

{%block content%}
<div class="block" id="main_block">
<h1>{{campaign.get_verb_display}} {{campaign.name}}</h1>
<p><b>Why?</b> {{campaign.description|urlize|linebreaksbr}}</p>
{% if campaign.criteria %}<p><b>Goal:</b> {{campaign.criteria|urlize|linebreaksbr}}</p>{%endif%}
{% if citations %}{% include "info/citation_snippet.html" %}{%endif%}
{% if campaign.complete %}<p><img src="{{MEDIA_URL}}icons/green-check.png">This campaign is complete!</p>{%endif%}
<p><b>Tags:</b> {% for tag in campaign.get_tag_list %}<a href="/target/tag/{{tag}}">{{tag}}</a>{% if not forloop.last%}, {%endif%}{%endfor%}</p>
<p>
  {% if user.is_anonymous %}
    <a href="/community/register/?next={{campaign.get_absolute_url}}">Sign up</a> or <a href="/community/login/?next={{campaign.get_absolute_url}}">log in</a> and join this campaign!
  {%else%}
    {% if user_joined_campaign %}
      You are a member of this campaign.<br>
      Do you want to <a href="#" id="leave_link">leave?</a>
      {% else %}<a href="#" id="join_link">Join this campaign</a>
    {% endif %}</p>
    <script type="text/javascript">
    $().ready(function() {
      $('#join_link').bind('click', function() {
        $.post("{{campaign.get_absolute_url}}join/");
        location.reload(); 
      });

      $('#leave_link').bind('click', function() {
        $.post("{{campaign.get_absolute_url}}leave/");
        location.reload();
      });
    });
    </script>
  {%endif%}
  
<p>{% include "community/add_this.html" %}
</div>
  
{%for a in company_actions %}
<div class="block" style="width:200px;"><h2>{{a.get_verb_display}}</h2>
  <h3><a href="{{a.company.get_absolute_url}}">{{a.company.name}}</a></h3>
  <h4><a href="">{{a.company.product_set.count}} Product{{a.company.product_set.count|pluralize}}</a></h4>
</div>
{%endfor%}
    
<table class="product_shelf">
  <tr>
  {%for a in product_actions %}
  <td><a class="product_link" href="{{a.product.get_absolute_url}}"><img src="{{a.product.image.thumbnail.url}}" alt="{{a.product.name}}" title="{{a.reason}}"></a><br>{{a.get_verb_display}} {{a.product.name}}</td>
  {% if forloop.counter|divisibleby:"3" %}
  </tr>
  <tr>
  {%endif%}
  {%endfor%}
  </tr>
</table>

<div class="block description">
Added by: <a href="{{campaign.added_by.profile.get_absolute_url}}">{{campaign.added_by}}</a><br>
Edited by: {% for user in campaign.edited_by.all %} <a href="{{user.profile.get_absolute_url}}">{{user}}</a> {%endfor%}<br>
Supported by: {% for user in campaign_users %}  <a href="{{user.get_absolute_url}}">{{user}}</a>{%empty%}No one yet{% if not forloop.last%}, {%endif%}{%endfor%}<br>

{% ifequal user campaign.added_by %}
<i><a href="{{campaign.get_absolute_url}}edit">Edit this campaign</a></i>:
{% else %}
Edit this campaign:
{%endifequal%}
<i><a href="{{campaign.get_absolute_url}}add_company/">Add a company</a></i> | 
<i><a href="{{campaign.get_absolute_url}}add_product/">Add a product</a></i>
{% if user.is_staff %}
<br><i><a href="/admin/target/campaign/{{campaign.id}}">Edit in admin</a></i>
{%endif%}
</div>

<div id="comments" style="float:left; clear:left;">
{% with campaign as discussion %}
{% include "comments/snippet.html" %}
{% endwith %}
</div>

{%endblock%}

