{% extends "base.html" %}
{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/target.css" type="text/css"/>
{%endblock%}
{% block title %} Campaigns{% endblock %}

{%block content%}
  {% for campaign in campaigns %}
<div class="block" style="width:400px;">
  <em><a href="{{campaign.get_absolute_url}}">{{campaign.name}}</a>:</em> <h3>{{campaign.users_joined_campaign.count}} user{{campaign.users_joined_campaign.count|pluralize}}</h3>
{{campaign.description|urlize|linebreaks}}
</div>
  {%endfor%}
{%endblock%}

