{% extends "base.html" %}
{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/target.css" type="text/css"/>
{%endblock%}
{% block title %}Companies{% endblock %}

{%block content%}
{% for company in companies %}
<div class="block" style="width:400px;">
  <em><a href="{{company.get_absolute_url}}">{{company.name}}</a></em><br>
  <h3>Tags: {% for tag in company.get_tag_list %}<a href="/target/tag/{{tag}}">{{tag}}</a>{% if not forloop.last%}, {%endif%}{%endfor%}</h3>
  <div class="description">
  {% if company.logo %}
    <img src="{{MEDIA_URL}}{{company.logo}}" class="product_image">
  {% endif %}
  {{company.description|urlize|linebreaksbr}}
  </div>
</div>
{%endfor%}
{%endblock%}