{% extends "base.html" %}
{% load humanize %}
{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/target.css" type="text/css"/>
{%endblock%}
{% block title %}{{company.name}}{% endblock %}

{%block content%}
  <div class="block" id="main_block">
    <em>{{company.name}}</em><br>
    {% if company.logo %}
    <img src="{{MEDIA_URL}}{{company.logo}}" class="product_image">
    {% endif %}
    
    <h3>Tags: {% for tag in company.get_tag_list %}<a href="/target/tag/{{tag}}">{{tag}}</a>{% if not forloop.last%}, {%endif%}{%endfor%}</h3>
    {{company.description|urlize|linebreaksbr}}
    {% if citations %}{% include "info/citation_snippet.html" %}{%endif%}
    
    <br>
    <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style">
  <a href="http://www.addthis.com/bookmark.php?v=250&amp;username=jlev" class="addthis_button_compact">Share with your friends</a>
  </div>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=jlev"></script>
  <!-- AddThis Button END -->
  </div>
  
  <table class="product_shelf">
    <tr>
    {%for p in products %}
    <td><a class="product_link" href="{{p.get_absolute_url}}"><img src="{{p.image.thumbnail.url}}" alt="{{p.name}}"></a><br>{{p.name}}</td>
    {% if forloop.counter|divisibleby:"3" %}
    </tr>
    <tr>
    {%endif%}
    {%endfor%}
    </tr>
  </table>
  
  {% ifnotequal company.companyaction_set.count 0 %}
  <div style="float:left; clear:left;">
  <h2>Campaigns about this company:</h2>
  {% for action in company.companyaction_set.all %}
  <div class="block" style="width:200px;"><h2>{{action.get_verb_display}}</h2>
    <h3><a href="{{action.campaign.get_absolute_url}}">{{action.campaign.name}}</a></h3>
    <h4>{{action.campaign.users_joined_campaign.count}} {{action.campaign.users_joined_campaign.count|pluralize:"person,people"}} joined<br>
      {% if action.reason %}Why? {{action.reason}} {%endif%}
      </h4>
  </div>
  {%endfor%}
  </div>
  {%endifnotequal%}
  
  <div class="block" id="highlight_block">
    <em>Contact</em>
      <ul>
      <li><b>Website:</b> {% if company.website %}{{company.website|urlize}}
          {%else%}<a href='{{company.get_absolute_url}}edit'>add</a>{%endif%}
      <li><b>Phone:</b> {%if company.phone%}{{company.phone}}
        {%else%}<a href='{{company.get_absolute_url}}edit'>add</a>{%endif%}
        <li><div style="clear:left;"><b>Address:</b></div>
            {% if company.address %}
              <div class="address">
              {{company.address|linebreaksbr}}
              </div>
            {%else%}
              <a href='{{company.get_absolute_url}}edit'>add</a><br>
            {%endif%}
      </ul>
  </div>

  {% if company.map %}
  <div style="float:left; clear:left;">
      {% with company.map as map %}
      {% include "geography/map_snippet.html" %}
      {% endwith %}
  </div>
  {%endif%}


<div style="float:left">
<li>Added by: <a href="{{company.added_by.profile.get_absolute_url}}">{{company.added_by}}</a>
<li>Edited by: {% for user in company.edited_by.all %} <a href="{{user.profile.get_absolute_url}}">{{user}}</a> {%empty%}No one yet{%endfor%}<br>

<i><a href="{{company.get_absolute_url}}edit">Edit this company</a></i>
{% if user.is_staff %}| <i><a href="/admin/target/company/{{company.id}}">Edit in admin</a></i>{%endif%}
{% with company as discussion %}
{% include "comments/snippet.html" %}
{% endwith %}
</div>

{%endblock%}

