{% extends "base.html" %}
{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/form.css" type="text/css"/>
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/target.css" type="text/css"/>
 {{company_form.media}}
{%endblock%}
{% block title %}Add a new company{% endblock %}

{%block content%}
<form enctype="multipart/form-data" action="." method="POST">
  {% for field in company_form %}
  <div class="fieldWrapper">
  	<div class="fieldError">{{ field.errors }}</div>
  	{%if field.is_required %}<b>{%endif%}
  	<div class="fieldLabel">{{ field.label_tag }}:</div>
  	{%if field.is_required %}</b>{%endif%}
  	<div class="field">{{ field }}</div>
  	<div class="fieldHelpText">{{ field.help_text|safe }}</div>
  </div>
  
  {% ifequal field.name "address" %}
  <div id="mapWrapper">
    {% with map_form as form %}
    {% include "geography/edit_map_snippet.html" %}
  {%endwith%}
  </div>
  {%endifequal%}
  
  {% endfor %}
  <hr>
  <h2>Add the company to a campaign</h2>
  {% with action_form as form %}
  {% include "form_snippet.html" %}
  {%endwith%}
<input type="submit" value="Add" />
</form>
{%endblock%}