{% extends "base.html" %}
{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/target.css" type="text/css"/>
{%endblock%}
{% block title %}Products{% endblock %}

{%block content%}
Add a <a href="/target/product/new">new product</a>.
{% for product in products %}
<div class="block" style="width:400px;">
    <em><a href="{{product.get_absolute_url}}">{{product.name}}</a></em><br>
    <a href="{{product.company.get_absolute_url}}">{{product.company}}</a><br>
    <h3>Tags: {% for tag in product.get_tag_list %}<a href="/target/tag/{{tag}}">{{tag}}</a>{% if not forloop.last%}, {%endif%}{%endfor%}</h3>
  <div class="description">
    {% if product.image %}
      <img src="{{MEDIA_URL}}{{product.image}}" class="product_image">
    {% endif %}
    {{product.description|urlize|linebreaksbr}}
    </div>
  </div>
{%endfor%}
{%endblock%}