{% extends "base.html" %}

{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/target.css" type="text/css"/>
{%endblock%}
{% block title %}{{product.name}}{% endblock %}

{%block content%}

<div class="block" id="main_block">
  {% if product.image %}
  <img src="{{MEDIA_URL}}{{product.image}}" class="product_image">
  {% endif %}
  <em>{{product.name}}</em><br>
  <a href="{{product.company.get_absolute_url}}">{{product.company}}</a><br>
  <h3>Tags: {% for tag in product.get_tag_list %}<a href="/target/tag/{{tag}}">{{tag}}</a>{% if not forloop.last%}, {%endif%}{%endfor%}</h3>
  {{product.description|urlize|linebreaksbr}}
  {% if citations %}{% include "info/citation_snippet.html" %}{%endif%}
</div>

<div style="float:left;"><h2>Campaigns about this product:</h2>
{% for action in product.productaction_set.all %}
<div class="block" style="width:200px;"><h2>{{action.get_verb_display}}</h2>
  <h3><a href="{{action.campaign.get_absolute_url}}">{{action.campaign.name}}</a></h3>
  <h4>{{action.campaign.users_joined_campaign.count}} {{action.campaign.users_joined_campaign.count|pluralize:"person,people"}}, {{action.campaign.products.count}} product{{action.campaign.products.count|pluralize}}<br>
    {% if action.reason %}Why? {{action.reason}} {%endif%}
    </h4>
</div>
{%endfor%}
</div>

<div class="block" id="highlight_block">
<h2>Take action!</h2>
<ul class="action_list">
  <li>Contact <a href="/target/store/">stores near you</a> that sell this product.
  <li><a href="/target/store/new/">Add other stores</a> that sell this product.
  <li>Contact <a href="{{product.company.get_absolute_url}}">{{product.company}}</a> and tell them what you think of this product.
  {% if product.alternative %}<li>Consider buying <a href="{{product.alternative.get_absoute_url}}">{{product.alternative.name}}</a> instead.{%endif%}
  <li>
  <!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=jlev" class="addthis_button_compact">Share with your friends</a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=jlev"></script>
<!-- AddThis Button END -->
</div>


<div class="block">
Added by: <a href="{{product.added_by.profile.get_absolute_url}}">{{product.added_by}}</a><br>
Edited by: {% for user in product.edited_by.all %} <a href="{{user.profile.get_absolute_url}}">{{user}}</a>{%endfor%}<br>

<i><a href="{{product.get_absolute_url}}edit">Edit this product</a></i>
{% if user.is_staff %}| <i><a href="/admin/target/product/{{product.id}}">Edit in admin</a></i>{%endif%}
</div>

<div style="float:left; clear:left;">
{% with product as discussion %}
{% include "comments/snippet.html" %}
{% endwith %}
</div>

{%endblock%}

