{% extends "base.html" %}

{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/target.css" type="text/css"/>
{%endblock%}
{% block title %}{{product.name}}{% endblock %}

{%block content%}

<div class="block" id="main_block">
  {% if product.image %}
  <img src="{{MEDIA_URL}}{{product.image}}" class="product_image">
  {% endif %}
  <em>{{product.name}}</em><br>
  <a href="{{product.company.get_absolute_url}}">{{product.company}}</a><br>
  <h3>Tags: {% for tag in product.get_tag_list %}<a href="/target/tag/{{tag}}">{{tag}}</a>{% if not forloop.last%}, {%endif%}{%endfor%}</h3>
  {{product.description|urlize|linebreaksbr}}
</div>

<div class="block" id="highlight_block">
<h2>Take action!</h2>
Ask other users to boycott this product.<br>
Or tell your # Facebook friends about this product.
</div>

<h2>Campaigns about this product:</h2>
{% for action in product.productaction_set.all %}
<div class="block" style="width:200px;"><h2>{{action.get_verb_display}}</h2>
  <h3><a href="{{action.campaign.get_absolute_url}}">{{action.campaign.name}}</a></h3>
  <h4>{{action.campaign.users_joined_campaign.count}} {{action.campaign.users_joined_campaign.count|pluralize:"person,people"}}, {{action.campaign.products.count}} product{{action.campaign.products.count|pluralize}}<br>
    Why? {{action.reason}}</h4>
</div>
{%endfor%}


<div style="float:left">
Added by: <a href="{{product.added_by.profile.get_absolute_url}}">{{product.added_by}}</a><br>
Edited by: {% for user in product.edited_by.all %} <a href="{{user.profile.get_absolute_url}}">{{user}}</a>{%endfor%}<br>

<i><a href="{{product.get_absolute_url}}edit">Edit this product</a></i>
{% if user.is_staff %}| <i><a href="/admin/target/product/{{product.id}}">Edit in admin</a></i>{%endif%}
{% with product as discussion %}
{% include "comments/snippet.html" %}
{% endwith %}
</div>

{%endblock%}

