{% extends "base.html" %}
{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/target.css" type="text/css"/>
{%endblock%}
{% block title %}Stores{% endblock %}

{%block content%}

{% include "geography/map_snippet.html" %}
<style>
.defaultText {
    width: 150px;
}
.defaultTextActive {
    color: #a1a1a1;
    font-style: italic;
    font-size:9pt;
}
#map {
  border:1px solid #C2C2C2;
}
</style>
<div id="geolookup" style="float:left;">
  Zoom map to
  <input class="defaultText" type="text" id="entry" title="Location"/>
</div>

<script type="text/javascript">
$ = jQuery.noConflict();

$(document).ready(function() {
  
  var storeStyles = new OpenLayers.StyleMap(
    {pointRadius: 10,
    fillOpacity:1,
    externalGraphic:"/media/openlayers/img/marker-red.png",
    strokeColor:'#FF0000'});
    
    stores = new OpenLayers.Layer.Vector("Stores", {
                         strategies: [new OpenLayers.Strategy.Fixed()],
                         protocol: new OpenLayers.Protocol.HTTP({
                                   url: "/target/store/all.json",
                                   format: new OpenLayers.Format.GeoJSON()}),
                                   styleMap:storeStyles,
                                   visibility:true});
    map.addLayer(stores);
    
    
    function onFeatureSelect(feature) {
        //console.log(feature);
        popup = new OpenLayers.Popup("popup", 
                    feature.geometry.getBounds().getCenterLonLat(),
                    new OpenLayers.Size(200,150),
                    "loading...", true);
        //create the popup now with blank text
        popup.panMapIfOutOfView = true;
        popup.keepInMap = true;
        popup.setBorder('1px solid black');
        html = "<div class='popup'>"
        if (feature.attributes.img_url) {
          html += "<img style='width:75px;float:left;' src="+feature.attributes.img_url+">";
        }
        html += "<div style='width:110px; float:left; padding-left:5px;'><a href="+feature.attributes.url+">" +
                feature.attributes.name+"</a>" + 
                "<br>" + feature.attributes.address + "</div>";
        products = feature.attributes.products;
        html += "<div style='width:150px; float:left; clear:left;'>Sells:<br>"
        for(var i=0; i<products.length; i++) {
          html += "<a href="+products[i].url+">"+products[i].name+"</a><br>";
        }
        html += "</div>"
        popup.setContentHTML(html);
        feature.popup = popup;
        map.addPopup(popup);
        //and show it only when complete
    }
    function onFeatureUnselect(feature) {
        map.removePopup(feature.popup);
        feature.popup.destroy();
        feature.popup = null;
    }
    
     var popupSelectControl = new OpenLayers.Control.SelectFeature(stores,
          {onSelect: onFeatureSelect,
          onUnselect: onFeatureUnselect,
          hover:false});
  	map.addControl(popupSelectControl);
  	popupSelectControl.activate();
  	
    function geocode_address(value) {
      //address = $('#location_entry').val();
      address_nobr = value.replace(/\n/g,' ');
      var geocoder = new google.maps.Geocoder();
      if (geocoder) {
        geocoder.geocode({'address': address_nobr}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            $('#geocode_error').hide();
            var result = results[0].geometry.location;
            lonlat = new OpenLayers.LonLat(result.c, result.b);
            var gps = new OpenLayers.Projection("EPSG:4326");
            var center = lonlat.clone().transform(gps,sphericalMercator);
            map.setCenter(center,13); //TODO: determine zoom dynamically
            
            //save the location name to the map-name field
            $('#id_map-name').val(results[0].formatted_address);
            //wanted to use city name here, but no clear way to get it from google object
          } else {
            $('#geocode_error').show();
          }
        });
      } 
    }
    
    $("#entry").autocomplete("/autocomplete/geocode",
      { cacheLength:10, multiple:false, minchars:3, mustMatch:true,
        highlight:false
      });
    $("#entry").result(function(event, data, formatted) {
        if (data) { //there is a response
           if (data[1]) { //it has a geometry
              var searchResult = eval('('+data[2]+')'); //third field has the geojson, turn it into an object
              var coords = searchResult.geometry.coordinates;
              //get the projection from the geojson
              var theProj = new OpenLayers.Projection(searchResult.crs.properties.name);
              var lonlat = new OpenLayers.LonLat(coords[0], coords[1]);
              var result = lonlat.transform(theProj,sphericalMercator);
              //TODO: determine zoom dynamically
              map.setCenter(result,12);
            } else { //it's a header
              return "\0"; //null character
            } 
        }
    });     
});
</script>

{%endblock%}