{% extends "base.html" %}
{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/target.css" type="text/css"/>
{%endblock%}
{% block title %}Stores{% endblock %}

{%block content%}

{% include "geography/map_snippet.html" %}

<script type="text/javascript">
$ = jQuery.noConflict();

$(document).ready(function() {
  
  var storeStyles = new OpenLayers.StyleMap(
    {pointRadius: 10,
    fillOpacity:1,
    externalGraphic:"/media/openlayers/img/marker-red.png",
    strokeColor:'#FF0000'});
    
    stores = new OpenLayers.Layer.Vector("Stores", {
                         strategies: [new OpenLayers.Strategy.Fixed()],
                         protocol: new OpenLayers.Protocol.HTTP({
                                   url: "/target/store/all.json",
                                   format: new OpenLayers.Format.GeoJSON()}),
                                   styleMap:storeStyles,
                                   visibility:true});
    map.addLayer(stores);
    
    
    function onFeatureSelect(feature) {
        //console.log(feature);
        popup = new OpenLayers.Popup("popup", 
                    feature.geometry.getBounds().getCenterLonLat(),
                    new OpenLayers.Size(125,175),
                    "loading...", true);
        //create the popup now with blank text
        popup.panMapIfOutOfView = true;
        popup.keepInMap = true;
        popup.setBorder('1px solid black');
        html = "<div class='popup'>"
        if (feature.attributes.img_url) {
          html += "<img width=100 src="+feature.attributes.img_url+">";
        }
        html += "<p><a href="+feature.attributes.url+">" +
                feature.attributes.name+"</a>" + 
                "<p>" + feature.attributes.address;
        products = feature.attributes.products;
        html += "<p>Sells:<br>"
        for(var i=0; i<products.length; i++) {
          html += "<a href="+products[i].url+">"+products[i].name+"</a><br>";
        }
        popup.setContentHTML(html);
        feature.popup = popup;
        map.addPopup(popup);
        //and show it only when complete
    }
    function onFeatureUnselect(feature) {
        map.removePopup(feature.popup);
        feature.popup.destroy();
        feature.popup = null;
    }
    
     var popupSelectControl = new OpenLayers.Control.SelectFeature(stores,
          {onSelect: onFeatureSelect,
          onUnselect: onFeatureUnselect,
          hover:false});
  	map.addControl(popupSelectControl);
  	popupSelectControl.activate();
});
</script>
<br>
<ul style="font-size:12px; float:left;">
 <b>Stores:</b>
{% for store in stores %}
<li><a href="{{store.get_absolute_url}}">{{store.name}}</a>, {{store.address}}
  <ul>
    {% for product in store.products.all %}
    <li><a href="{{product.get_absolute_url}}">{{product.name}}</a>
    {%endfor%}
    </ul>
{%endfor%}
</ul>
{%endblock%}