{% extends "base.html" %}
{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/form.css" type="text/css"/>
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/target.css" type="text/css"/>
{%endblock%}
{%block scripts %}
 {{form.media}}
{%endblock%}
{% block title %}Add a new Store{% endblock %}

{%block content%}
<form enctype="multipart/form-data" action="." method="POST">
    {% for field in store_form %}
    <div class="fieldWrapper">
    	{%if not field.is_hidden%}<div class="fieldLabel{%if field.is_required %} required{%endif%}">{{ field.label_tag }}:</div>{%endif%}
    	<div class="field">{{ field }}</div>
    	<div class="fieldHelpText">{{ field.help_text|safe }}</div>
    	<div class="fieldError">{{ field.errors }}</div>
    	
      {% ifequal field.name "address" %}
    	<a id="geocode">Lookup address &crarr;</a>
    	<div id="geocode_error" class="fieldError" style="display:none;">Could not locate that address.</div>
    	{% endifequal %}
    
      {% ifequal field.name "address" %}
      <div id="mapWrapper">
        {% with map_form as form %}
        {% include "geography/geocode.html" %}
      {%endwith%}
      </div>
      {%endifequal%}
    
    </div>

    {% endfor %}
<input type="submit" value="Add" />
</form>
{%endblock%}