{% extends "base.html" %}
{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/target.css" type="text/css"/>
{%endblock%}
{% block title %}Companies{% endblock %}

{%block content%}
{% load tagging_tags %}
{% tagged_objects tag in target.Campaign as campaigns %}
{% tagged_objects tag in target.Company as companies %}
{% tagged_objects tag in target.Product as products %}

<ul>
  <li><b>Campaigns:</b>
    <ul>
    {%for campaign in campaigns %}
    <li><a href="{{campaign.get_absolute_url}}">{{campaign.name}}</a>
    {%endfor%}
    </ul>
  <br>
<li><b>Companies:</b>
  <ul>
  {%for company in companies %}
  <li><a href="{{company.get_absolute_url}}">{{company.name}}</a>
  {%endfor%}
  </ul>
<br>
<li><b>Products:</b>
  <ul>
    {%for product in products %}
    <li><a href="{{product.get_absolute_url}}">{{product.name}}</a>
    {%endfor%}
    </ul>
</ul>
{%endblock%}