Django==1.4.5
South
psycopg2
gunicorn
dj-database-url
dj-static
django-reversion==1.6.6
django-facebook-connect
django-tagging
Pillow
geopy==1.1.0
-e git://github.com/pivotal-energy-solutions/django-stdimage.git#egg=stdimage
-e git://github.com/yourcelf/olwidget.git#egg=olwidget
