{% extends 'base.html' %}
{% load facebook_tags %}
{% block css %}
<link rel="stylesheet" href="{{MEDIA_URL}}styles/form.css" type="text/css"/>
{% endblock %}


{% block title %}Log in{% endblock %}

{% block content %}
<div style="float:left">
<h1>Log in with an existing account:</h1>
{% show_connect_button %}
<br>
<p>Or for accounts registered with us directly:</p>
{% if form.errors %}
<br>
<p class="fieldError">That username and password didn't authenticate.</p>
{% endif %}

<form method="post" action="" class="wide">
  {% include "form_snippet.html" %}
  <br>
  <p class="submit"><input type="submit" value="Login"></p>
</form>

</div>
{% endblock %}
