{% extends "registration/base.html" %}
{% load facebook_tags %}

{% block title %}Log in{% endblock %}

{% block content %}

<h1>Log in with an existing account:</h1>
{% show_connect_button %}

<br>
<p>Or <a href="/accounts/register/">register</a> with us directly:</p>

{% if form.errors %}
<p class="error">Please correct the errors below:</p>
{% endif %}

<form method="post" action="?next={{ next|default:"/" }}">
<dl>
<dt><label for="id_username">Username:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.username }}</dd>
<dt><label for="id_password">Password:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
<dd>{{ form.password }}</dd>
<dt><input type="submit" value="Log in" /></dt>
</dl>
</form>
{% endblock %}
