{% extends 'base.html' %}
{% load facebook_tags %}
{% block css %}
<link rel="stylesheet" href="{{MEDIA_URL}}styles/form.css" type="text/css"/>
{% endblock %}


{% block title %}Log in{% endblock %}

{% block content %}
<div class="block" id="highlight_block">
<em>Log in with an existing account:</em>
{% show_connect_button %}
</div>

<div class="block">
<em>Or for accounts registered with us directly:</em>
<form method="post" action="" class="wide">
  {% include "form_snippet.html" %}
  {% if form.errors %}
  <div class="fieldError">That username and password didn't authenticate.</div><br>
  {% endif %}
  <p class="submit"><input type="submit" value="Login"></p>
</form>
</div>

{% endblock %}
