<!-- pull all the map stuff from groundtruth -->
<script type="text/javascript" src="http://groundtruth.media.mit.edu/media/openlayers/OpenLayers.js"></script>
<script type="text/javascript" src="http://groundtruth.media.mit.edu/media/openlayers/customLayerSwitcher.js"></script>
<script type="text/javascript" src="http://groundtruth.media.mit.edu/media/openlayers/cloudmade.js"></script>
<script type="text/javascript" src="http://groundtruth.media.mit.edu/media/map/styles.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}map/map.js"></script>

<style>
#map {
    float:left;
    clear:left;
    width:400px;
    height:400px;
}

#layerswitcher {
    float:left;
    width:150px;
    font-size:10pt;
    padding-left:5px;
}

.olControlAttribution {
  position:absolute;
  bottom:0px;
  left:0px;
  font-size:10pt;
}
</style>


{% for field in form %}
{% ifequal field.name "center" %}
<div id="map"></div>
<div id="layerswitcher">Layers</div>
{%endifequal%}

<div class="fieldWrapper">
	<div class="fieldError">{{ field.errors }}</div>
	{%if field.is_required %}<b>{%endif%}
	<div class="fieldLabel">{{ field.label_tag }}:</div>
	{%if field.is_required %}</b>{%endif%}
	<div class="field">{{ field }}</div>
	<div class="fieldHelpText">{{ field.help_text|safe }}</div>
</div>
{% endfor %}



<script type="text/javascript">
     //DECONFLICT JQUERY AND OPENLAYERS
     $ = jQuery.noConflict();
     
     $(document).ready(function() {
        initMap();
        
        $('#id_map-name').autocomplete("/autocomplete/geocode-gt/", { multiple: false, delay:100, minChars:3, mode:"abort" });
        $("#id_map-name").result(function(event, data, formatted) {
          if (data[1]) { //we have a real response
            var searchResult = eval('('+data[2]+')'); //third field has the geojson, turn it into an object
            var coords = searchResult.geometry.coordinates;
            //get the projection from the geojson
            var theProj = new OpenLayers.Projection(searchResult.crs.properties.name);
            var lonlat = new OpenLayers.LonLat(coords[0], coords[1]);
            var result = lonlat.transform(theProj,sphericalMercator);
            //TODO: determine zoom dynamically
            map.setCenter(result,10);
          } else { //it's a header
            return "\0"; //null character
          }
            
        });
        //stop enter events on autocomplete fields
        $('#id_map-name').bind("keydown", function (e) {
            var key = e.keyCode || e.which;
            if (key === 13) { return false; }
        });
        
        
        /* Make the map info fields un-editable */
        $('#id_map-zoom').attr('readonly',true);
        $('#id_map-center').attr('readonly',true);
        
        /* JQuery to pull map info and save it to form fields */
        function mapCoordsToFormFields(e) {
          $('#id_map-zoom').val(map.zoom);
          center = map.center.clone();
          center.transform(sphericalMercator,gps);
          //truncate for display
          display_lon = center.lon.toString().substring(0,10);
          display_lat = center.lat.toString().substring(0,10);
          $('#id_map-center').val(display_lon + "," + display_lat);
        }
        map.events.register( 'moveend', this, mapCoordsToFormFields);
      });

</script>