{% include "geography/map_js_header.html" %}

<style>
#map {
    width:400px;
    height:400px;
}

#layerswitcher {
    text-align:left;
    width:200px;
    font-size:10pt;
}

.olControlAttribution {
  position:absolute;
  bottom:0px;
  left:0px;
  font-size:10pt;
}

#legend {
text-align:left;
  width:250px;
  background-color:white;
  height:250px;
}

#legend h3 {
  float:left;
  font-weight:bold;
}

#legend table td {
  padding:5px;
}
</style>

<div class="block">
  <em>Map</em>
  <div id="map"></div>
  <a id="layerswitcher_toggle">Layers</a>
  <div id="layerswitcher"></div>
  
  {% ifequal map.area_info.name "West Bank" %}
  <br>
  <a id="legend_toggle">Legend</a>
  <div id="legend">
   <h3>Borders and Barriers</h3>
   <table cellspacing="0">
     <tr><td align="center"><img src='http://groundtruth.media.mit.edu/media/map/icons/green-line-solid.png'></td><td>Green Line</td></tr>
     <tr><td align="center"><img src='http://groundtruth.media.mit.edu/media/map/icons/red-line-solid.png'></td><td>Separation Barrier (complete)</td></tr>
     <tr><td align="center"><img src='http://groundtruth.media.mit.edu/media/map/icons/purple-line-solid.png'></td><td>Separation Barrier (planned)</td></tr>
     <tr><td align="center"><img src='http://groundtruth.media.mit.edu/media/map/icons/black-line-dashed.png'></td><td>Separation Barrier (removed)</td></tr>
  </table>
  <h3>Localities</h3>
  <table cellspacing="0">
    <tr><td align="center"><img src='http://groundtruth.media.mit.edu/media/map/icons/settlement.png'></td><td>Settlement</td></tr>
    <tr><td align="center"><img src='http://groundtruth.media.mit.edu/media/map/icons/palestinian.png'></td><td>Palestinian Towns</td></tr>
  </table>
  </div>
  <br clear=both>
  <a href="http://groundtruth.media.mit.edu" target="_blank">Larger Map</a>
  {%endifequal%}
</div>

<script type="text/javascript">
     //DECONFLICT JQUERY AND OPENLAYERS
     $ = jQuery.noConflict();
     
     $(document).ready(function() {
        initMap();
        center = new OpenLayers.LonLat({{map.center.get_coords.0}}, {{map.center.get_coords.1}});
        //convert to map coords
        center.transform(gps, sphericalMercator);
        map.setCenter(center,{{map.zoom}});
        
        //pull areainfo
        {{map.area_info.script|safe}}
        
        //layerswitcher toggle link
        $('a#layerswitcher_toggle').click(function() {
            $('#layerswitcher').toggle('fast');
            return false;
          });
        $('#layerswitcher').hide();
        
        $('a#legend_toggle').click(function() {
            $('#legend').toggle('fast');
            return false;
          });
        $('#legend').hide();
      });
</script>