<script type="text/javascript" src="{{STATIC_URL}}openlayers/OpenLayers.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}openlayers/customLayerSwitcher.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}openlayers/ZoomBar.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}openlayers/cloudmade.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}openlayers/FastCluster.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}openlayers/colors.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}map/map.js"></script>