/*GLOBAL STYLES*/
A:link {text-decoration: underline; color:#4C4C4C;}
A:visited {text-decoration: underline; color:#4C4C4C;}
A:active {text-decoration: underline; color:#4C4C4C;}
A:hover {text-decoration: underline; color: #B3221C;}
ul { list-style:none; }
ul > li { padding-left:5px; }

html {
    font-family: Helvetica, Sans-Serif;
    font-size:20px;
    color:#4C4C4C;
    background-color:#3A3A3A;
}

body {
}

/* PAGE LAYOUT */
#main {
    background-color:white;
    width:800px;
    margin:0 auto;
    padding:5px;
}

/* HEADER */
#top {
    text-align:right;
    width:800px;
    font-size:12px;
}

/* LEFT SIDE */
#sidebar {
    font-size:18px;
    float:left;
    text-align:right;
    width:150px;
    padding-left:25px;
    padding-right:25px;
}

/* LOGO */
#logo > h1{
    position:absolute;
    top:35px;
    width:150px;
    font-family:monospace;
    font-size:24px;
    -webkit-transform: rotate(-15deg); 
    -moz-transform: rotate(-15deg);
    text-align:center;
    z-index:1;
}
.logo-img {
    position:absolute;
    top:25px;
    width:150px;
    height:75px;
    -webkit-transform: rotate(-15deg); 
    -moz-transform: rotate(-15deg);
    text-align:center;
    z-index:1;
}

#sidebar a {
    font-style:italic;
    color:#B3221C;
    text-decoration: none;
}
#sidebar a:hover {
    text-decoration: underline;
}
#sidebar li {
    margin-top:5px;
}
#sidebar hr {
    color:#C2C2C2;
}

/* CONTENT */
#content {
    float:right;
    width:575px;
    margin-left:25px;
    z-index:0;
}

#content p {
    float:left;
    clear:left;
    font-size:15px;
    font-weight:none;
    margin-top:5px;
    margin-bottom:5px;
}

#content h1 {
    font-size:20px;
    font-weight:bold;
    padding-bottom:10px;   
}

#content h2 {
    font-size:15px;
    color:#1F1F1F;
    font-style:italic;
    font-weight:bold;
}

#content hr {
    color:#C2C2C2;
}

hr.heavy {
    color:#373737;
    background-color:#373737;
    height:4px;
    width:100%;
    clear:left;
}

/* BLOCKS */

.block {
    background-color:#E9EAED;
    padding:10px;
    margin-top:10px;
    margin-right:10px;
    float:left;
}

.block h2 {
    font-size:18px;
}

.block h3 {
    font-size:14px;
}

.block h4 {
    font-size:12px;
}

.block em {
    font-style:italic;
    font-weight:bold;
    font-size:20px;
    color:#1F1F1F;
}

#main_block {
    width:450px;
<<<<<<< HEAD:media/styles/base.css
    font-size:14pt;
    clear:left;
=======
    font-size:15px;
>>>>>>> 4cf68f150cc2a87caf7efa373e11d133cbcb9806:media/styles/base.css
}

#highlight_block {
    background-color:#A9B5C1;
    width:450px;
    clear:left;
}

table {
    float:left;
    clear:left;
}

.shelf {
    float:left;
    clear:left;
    width:450px;
}

td {
    border-width: 1px;
    padding: 15px;
    text-align:center;
    font-size:10pt;
}

#message {
    background:#FFFF99;
    margin-bottom:10px;
    width:475px;
}

#copyleft {
    font-size:12px;
    float:right;
    clear:left;
}


