.fieldWrapper {
    padding-bottom:10px;
    float:left;
    clear:left;
}

.field {
    padding-left:5px;
    display:inline;
    vertical-align:top;
    float:left;
}

.fieldHelpText {
    color:gray;
    font-style:italic;
    padding-left:10px;
    float:left;
}

.fieldLabel {
    font-weight:bold;
    display:inline;
    vertical-align:top;
    float:left;
}

.fieldLabel label {
    vertical-align:top;
    float:left;
}

.fieldError {
    font-weight:bold;
    color:red;
    float:left;
}

input {
    float:left;
}