#entry {
    width:350px;
}

#product_block {
    float:left;
}

.product_link a {
    text-decoration:none;
    border:none;
}

td {
    border-width: 1px;
    padding: 15px;
    text-align:center;
    font-size:10pt;
}

