#entry {
    width:350px;
}

#product_block {
    float:left;
}

.product_link a {
    text-decoration:none;
    border:none;
}

.all_link {
    float:right;
    clear:both;
    font-style:italic;
    font-size:15px;
}

h2 {
    margin-top:10px;
}
