/*
Hacks for IE < 8
*/

/*BASE*/
#logo {
    position:absolute;
    top:35px;
    width:150px;
    text-align:center;
    font-size:22px;
    font-family:monospace;
}

.logo-img {
    position:absolute;
    left:0px; /* fixes the horiz  */
    margin-top:-35px; /* fixes the vertical */
}

#logo-text {
    font-weight:bold;
}

p {
    width:100%;
}

/*FRONTPAGE*/
.all_link {
    float:right; /* fail */
    clear:both; /* fail, set width to force*/
    width:500px;
}

.campaigns {
    border:5px solid white;
}

/* SINGLE PAGES */
.meta {
    width:200px;
}

.citations {
    width:100%;
}

/* COMMENTS */
#comments {
    width:400px;
}

#disquis_thread {
    width:400px;
    float:left;
    clear:both;
}

/*LIST PAGES*/
.product_image {
    float:none;
}

.product_description {
    width:100%;
}
