#contact-box {
    float:left;
    padding:5px;
    width:200px;
}

.product_image {
    padding:8px;
    background:white;
    margin:6px;
    float:right;
    max-width:150px;
}

.address p {
    padding-left:10px;
}

.description {
    font-size:12px;
    margin-top:6px;
}

.action_list {
}

.action_list li {
    list-style-type:disc;
    margin-left:25px;
}

.citation_list li {
    font-size:12px;
}