#contact-box {
    float:left;
    padding:5px;
    width:200px;
    font-size:14px;
}

.product_image {
    padding:8px;
    background:white;
    margin:6px;
    float:right;
    max-width:150px;
}

.address p {
    padding-left:10px;
}

.description {
    font-size:12px;
    margin-top:6px;
    clear:left;
}

.action_list {
}

.action_list li {
    list-style-type:disc;
    margin-left:25px;
}

.citations {
    font-size:15px;
    float:left;
    clear:both;
    margin-top:5px;
}

.citations li {
    font-size:12px;
}

.popup {
    font-size:14px;
}
.popup img {
    float:left;
}
.popup p {
    font-size:12px;
    float:right;
}

a#geocode {
    float:right;
    clear:right;
    font-style:italic;
    font-weight:bold;
    font-size:14px;
    margin-top:5px;
}