{% extends "base.html" %}
{%block css%}
 <link rel="stylesheet" href="{{STATIC_URL}}styles/community.css" type="text/css"/>
{%endblock%}

{% block title %} Stats{% endblock %}

{%block content%}

<div class="edit_list">
  <h2>User Statistics</h2>
  <ul>
    <li><i><b>Name</b>: Campaigns, Companies, Products, Stores, Revisions</i>
    {% for user,revisions in users.items %}
    <li><b>{{user.username}}</b>: {{user.campaign_add.all.count}},
                              {{user.company_add.all.count}},
                              {{user.product_add.all.count}},
                              {{user.store_add.all.count}},
                              {{revisions}}
    {%endfor%}
  </ul>
</div>

{%endblock%}