{% extends "base.html" %}
{% load facebook_tags %}
{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/community.css" type="text/css"/>
{%endblock%}

{% block title %} Users{% endblock %}

{%block content%}
<h1>User List</h1>
<ul>
  {% for user in users %}
    <li>
    <div class="profile_text">
      {% if user.facebook_profile %}
        {% show_facebook_photo user %}<a href="{{user.profile.get_absolute_url}}">{{user.facebook_profile.full_name}}</a>:
      {%else%}
        {% if user.profile.image %}
        <img src="{{user.profile.image.thumbnail.url}}">
        {%else%}
        <img src="{{MEDIA_URL}}icons/no-photo.png" alt="No Photo"/>
        {%endif%}
        <a href="{{user.profile.get_absolute_url}}">
        {% if user.get_full_name%}{{user.get_full_name}}{%else%}{{user.username}}{%endif%}</a>:
      {%endif%}
        
      {{user.profile.campaigns.count}} campaigns
    </div>
  {% endfor %}
</ul>
{%endblock%}

