{% extends "base.html" %}
{% load facebook_tags %}
{%block css%}
 <link rel="stylesheet" href="{{MEDIA_URL}}styles/community.css" type="text/css"/>
{%endblock%}

{% block title %} {{the_user.get_full_name}}{% endblock %}

{%block content%}
<div class="block" id="main_block">
<em>{{the_user.get_full_name}}</em>
{% if the_user.facebook_profile %}
{% show_facebook_photo the_user %}
{%endif%}
{% if the_user.profile.description %}<p>{{the_user.profile.description}}</p>{%else%}{{the_user.username}} has not written anything yet.{%endif%}

  <div style="clear:left;">
  {% ifequal the_user.id user.id %}
  <br><i><a href="edit">edit my profile</a></i>
  {% endifequal %}
  {% if user.is_staff %}
  <br><i><a href="/admin/community/userprofile/{{user.profile.id}}">edit in admin</a></i>
  {%endif%}
  </div>

</div>

<div style="float:left;">
  <br>
<h2>My Campaigns</h2>
</div>
<div style="clear:left;">
{%for campaign in campaigns %}
<div class="block" style="width:200px;"><h2>{{campaign.get_verb_display}}</h2>
  <h3><a href="{{campaign.get_absolute_url}}">{{campaign.name}}</a></h3>
  {% with campaign.users_joined_campaign.count as num_users %}
  <h4>{{num_users}} {{num_users|pluralize:"person,people"}},{%endwith%}
    {% with campaign.products.count as num_products %}{{num_products}} product{{num_products|pluralize}}</h4>
    {%endwith%}
</div>
{%endfor%}
</div>

<div style="float:left">
  <br>
  <h2>My Tracked Products</h2>
  <div class="shelf">
  <hr>
  <table>
    <tr>
    {%for a in product_actions %}
    <td><a class="product_link" href="{{a.product.get_absolute_url}}">{% if a.product.image%}<img src="{{a.product.image.thumbnail.url}}" alt="{{a.product.name}}" title="{{a.reason}}">{%else%}{{a.product.name}}{%endif%}</a><br>{{a.get_verb_display}} {{a.product.name}}</td>
    {% if forloop.counter|divisibleby:"3" %}
    </tr>
    <tr>
    {%endif%}
    {%endfor%}
    </tr>
  </table>
  </div>

  <br>
  <h2>My Tracked Companies</h2>
  <div class="shelf">
  <hr>
  <table>
    <tr>
    {%for a in company_actions %}
    <td><a class="product_link" href="{{a.company.get_absolute_url}}">{% if a.company.logo %}<img src="{{a.company.logo.thumbnail.url}}" alt="{{a.company.name}}" title="{{a.reason}}">{%else%}{{a.company.name}}{%endif%}</a><br>{{a.get_verb_display}} {{a.company.name}}</td>
    {% if forloop.counter|divisibleby:"3" %}
    </tr>
    <tr>
    {%endif%}
    {%endfor%}
    </tr>
  </table>
  </div>
  
  <div class="edit_list">
    <h2>My Recent Edits</h2>
    <hr>
    <ul>
      {% for r in revisions %}
      <li>{{r.comment|slice:":-1"}} on {{r.version_set.all.0.object_repr}} at {{r.date_created|date:"D d M Y" }}</li>
      {%endfor%}
    </ul>
  </div>

</div>
{%endblock%}

