<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fml">    
  {% load facebook_tags %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/reset.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/base.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/sidebar.css" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
    {%block css%}
    {%endblock%}
    
    <title>Boycott {% block title %}{% endblock %}</title>
    {% facebook_js %}

    <div id="main">
      
      <div id="sidebar">
        <div id="logo">
          {% if logo_img %}
            <div class="logo-img">
              <img src="{{logo_img.url}}">&nbsp;
            </div>
            <div class="logo-img">
              <img src="{{MEDIA_URL}}logo/slash.png">&nbsp;
            </div>
            {% else %}
            <h1>{{logo_text|upper|default:"BOYCOTT<br>TOOLKIT"}}</h1>
         {%endif%}
        </div>
        <img id="logo-boy" src="{{MEDIA_URL}}logo/boycott-alpha.png">

      {% if user.is_authenticated %}
      <ul class="sidebar">
        <li><a href="/target/campaign/new">Start a Campaign</a>
        <li><a href="/target/company/new">Add a Company</a>
        <li><a href="/target/product/new">Add a Product</a>
      </ul>
      {% endif %}
      <ul class="sidebar">
        <hr>
        <li><a href="/target/campaign">Campaigns</a>
        <li><a href="/target/company">Companies</a>
        <li><a href="/target/product">Products</a>
        <li><a href="/target/store">Stores</a>
        <hr>
        <li><a href="/about/us">About</a>
        <li><a href="/about/legal">Legal</a>
        <li><a href="/about/contact">Contact</a>
      </ul>
    </div>

    <div id="top">
       <ul class="nav">
         {% if user.is_authenticated %}
         Hi, <a href="/community/user/{{user}}">{{user.first_name}}</a> |
         {% if user.is_staff %}
           <a href="/admin/">Admin</a> |
           {% endif %}
         <a href="/community/logout">Logout</a>
         {% else %}
         <a href="/community/login">Log In</a> |
         <a href="/community/register">Sign Up</a>
         {% endif %}
       </ul>
     </div>

    <div id="content">
      {%if message%}
      <div id="message">
        {{message}}
      </div>
      {%endif%}
  
    	{%block content%}
    	{%endblock%}
    	<div id="copyleft">
    	  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/80x15.png" /></a>
      	<br>
      	<a href="http://www.mit.edu">MIT</a>
      	<a href="http://civic.mit.edu">C4FCM</a>
    	</div>
    </div>
    <br style="clear:both;">
  </div>
  	{%block scripts%}
  	{%endblock%}
    {% initialize_facebook_connect %}
	
	
</body>
</html>