<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://www.facebook.com/2008/fml">    
  {% load facebook_tags %}
  {% load cache %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/reset.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/base.css" type="text/css"/>
    <link rel="stylesheet" href="{{MEDIA_URL}}styles/sidebar.css" type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/jquery/autocomplete/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}/jquery/autocomplete/lib/jquery.ajaxQueue.js"></script>
    <link href="{{MEDIA_URL}}/jquery/autocomplete/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" />
    {%block css%}
    {%endblock%}
    
    <title>Boycott Toolkit | {% block title %}{% endblock %}</title>
    <body>
      {% facebook_js %}
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7059313-3']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();

      </script>

    <div id="main">
      
      <div id="sidebar">
        <div id="logo">
          {% if logo_img %}
            <div class="logo-img">
              <img src="{{logo_img.url}}">&nbsp;
            </div>
            <div class="logo-img">
              {% if logo_overlay %}<img src="{{MEDIA_URL}}logo/{{logo_overlay}}.png">&nbsp;{% endif %}
            </div>
            {% else %}
            <h1>{{logo_text|upper|default:"BOYCOTT<br>TOOLKIT"}}</h1>
         {%endif%}
        </div>
        <a href="/"><img id="logo-boy" src="{{MEDIA_URL}}logo/boycott-alpha.png"></a>

      <ul class="sidebar">
        <li><a href="/target/campaign/new">Start a Campaign</a>
        <li><a href="/target/company/new">Add a Company</a>
        <li><a href="/target/product/new">Add a Product</a>
        <li><a href="/target/store/new">Add a Store</a>
      </ul>
      <ul class="sidebar">
        <hr>
        <li><a href="/target/campaign">Campaigns</a>
        <li><a href="/target/company">Companies</a>
        <li><a href="/target/product">Products</a>
        <li><a href="/target/store">Stores</a>
        <hr>
        <li><a href="/about/us">About</a>
        <li><a href="/about/legal">Legal</a>
        <li><a href="/about/contact">Contact</a>
      </ul>
    </div>

    {% cache 500 topnav user.id %}
    <div id="top">
       <ul class="nav">
         {% if user.is_authenticated %}
          Hi, <a href="/community/user/{{user}}">{% if user.first_name%}{{user.first_name}}{%else%}{{user.username}}{%endif%}</a> |
         {% if user.is_staff %}
           <a href="/admin/">Admin</a> |
           {% endif %}
         <a href="/community/logout">Logout</a>
         {% else %}
         <a href="/community/login">Log In</a> |
         <a href="/community/register">Sign Up</a>
         {% endif %}
       </ul>
     </div>
     {% endcache %}

    <div id="content">
      {%if message%}
      <div id="message">
        {{message}}
      </div>
      {%endif%}
  
    	{%block content%}
    	{%endblock%}
    	<div id="copyleft">
    	  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/80x15.png" /></a>
      	<br>
      	<a href="http://www.mit.edu">MIT</a>
      	<a href="http://civic.mit.edu">C4FCM</a>
    	</div>
    </div>
    <br style="clear:both;">
  </div>
  	{%block scripts%}
  	{%endblock%}
    {% initialize_facebook_connect %}
	
	
</body>
</html>