{% extends "base.html" %}
{%block css %}
<link rel="stylesheet" href="{{MEDIA_URL}}styles/frontpage.css" type="text/css"/>
<link href="{{MEDIA_URL}}/jquery/autocomplete/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/jquery/autocomplete/jquery.autocomplete.js"></script>
{%endblock%}

{% block title %}Toolkit{% endblock %}

{%block content%}
<div class="block" id="main_block">
<p><em>Welcome back to Boy.co.tt!</em></p>
<p>Want to <a href="/target/campaign/new">start a new campaign</a>, <a href="/target/company/new">add a company</a>, or <a href="/target/product/new">product</a>?</p>
</div>

<div class="block" id="highlight_block">
{% include "search_autocomplete.html" %}
</div>

  {% for campaign in campaigns %}
  <div class="block" style="width:200px;"><h2>Boycott</h2>
    <h3><a href="{{campaign.get_absolute_url}}">{{campaign.name}}</a></h3>
    <h4>{{campaign.users_joined_campaign.count}} {{campaign.users_joined_campaign.count|pluralize:"person,people"}}, {{campaign.products.count}} product{{campaign.products.count|pluralize}}</h4></div>
  {%endfor%}

  <div style="float:left">
  
  <div class="shelf">
  <hr class="heavy">
  <h2>Products I Buy</h2>
  <table>
    <tr>
    {%for p in products_buy %}
    <td><a class="product_link" href="{{p.get_absolute_url}}"><img src="{{p.image.thumbnail.url}}" alt="{{p.name}}"></a><br>{{p.name}}</td>
    {% if forloop.counter|divisibleby:"3" %}
    </tr>
    <tr>
    {%endif%}
    {%endfor%}
    </tr>
  </table>
  </div>
  
  <div class="shelf">
  <hr>
  <h2>Products I Don't Buy</h2>
  <table>
    <tr>
    {%for p in products_dontbuy %}
    <td><a class="product_link" href="{{p.get_absolute_url}}"><img src="{{p.image.thumbnail.url}}" alt="{{p.name}}"></a><br>{{p.name}}</td>
    {% if forloop.counter|divisibleby:"3" %}
    </tr>
    <tr>
    {%endif%}
    {%endfor%}
    </tr>
  </table>
  </div>

  <div class="shelf">
  <hr class="heavy">
  <h2>Companies I Support</h2>
  <table>
    <tr>
    {%for c in companies_support %}
    <td><a href="{{c.get_absolute_url}}"><img src="{{c.logo.thumbnail.url}}" alt="{{c.name}}"></a><br>{{c.name}}</td>
    {% if forloop.counter|divisibleby:"3" %}
    </tr>
    <hr>
    <tr>
    {%endif%}
    {%endfor%}
    </tr>
  </table>
  </div>
  
  <div class="shelf">
  <hr>
  <h2>Companies I Oppose</h2>
  <table>
    <tr>
    {%for c in companies_oppose %}
    <td><a href="{{c.get_absolute_url}}"><img src="{{c.logo.thumbnail.url}}" alt="{{c.name}}"></a><br>{{c.name}}</td>
    {% if forloop.counter|divisibleby:"3" %}
    </tr>
    <tr>
    {%endif%}
    {%endfor%}
    </tr>
  </table>
  <hr class="heavy">
  </div>
  
  </div>

{%endblock%}