{% extends "base.html" %}
{%block css %}
<link rel="stylesheet" href="{{MEDIA_URL}}styles/frontpage.css" type="text/css"/>
<link href="{{MEDIA_URL}}/jquery/autocomplete/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/jquery/autocomplete/jquery.autocomplete.js"></script>
{%endblock%}

{% block title %}Toolkit{% endblock %}

{%block content%}
<div class="block" id="main_block">
<p><em>Welcome back to Boy.co.tt!</em></p>
<p>Want to <a href="/target/campaign/new">start a new campaign</a>, <a href="/target/company/new">add a company</a>, or <a href="/target/product/new">product</a>?</p>
</div>

<div class="block" id="highlight_block">
Search for <b>products</b>, <b>companies</b> or <b>locations</b>
<form action="" method="GET" id="search_form">
  <input type="text" id="entry" />
  <input type="submit" value="Search" />
</form>
</div>
  <script type="text/javascript">
      $().ready(function() {
        $("#entry").autocomplete("/autocomplete/search/",
          { cacheLength:1, multiple:false, minchars:1, mustMatch:false,
            highlight:false,
            formatItem: function(x) {
              return x[0];
            },
            formatResult: function(x) {
              if(x[1]) {
                //real object, with a url field
                return x[0];
              } else {
                //a header, return null character
                return "\0";
              }
            }
          });
          $("#entry").result(function(event, data, formatted) {
            //url info is the second field in the data object
            if (data[1]) {
              $("#search_form").attr('action',data[1]);
              //stash the url in the form action field
            } else {
              $("#search_form").attr('action',"");
              //reset it to none
            }
              
          });
    });
  </script>

  {% for campaign in campaigns %}
  <div class="block" style="width:200px;"><h2>Boycott</h2>
    <h3><a href="{{campaign.get_absolute_url}}">{{campaign.name}}</a></h3>
    <h4><a href="">{{campaign.users_joined_campaign.count}} {{campaign.users_joined_campaign.count|pluralize:"person,people"}}</a>, <a href="">{{campaign.products.count}} product{{campaign.products.count|pluralize}}</a></h4></div>
  {%endfor%}

  <div style="float:left">
  <hr>
  <h2>Products I Buy</h2>
  <table class="product_shelf">
    <tr>
    {%for p in products_buy %}
    <td><a class="product_link" href="{{p.get_absolute_url}}"><img src="{{p.image.thumbnail.url}}" alt="{{p.name}}"></a><br>{{p.name}}</td>
    {% if forloop.counter|divisibleby:"3" %}
    </tr>
    <tr>
    {%endif%}
    {%endfor%}
    </tr>
  </table>
  
  <hr>
  
  <h2>Products I Don't Buy</h2>
  <table class="product_shelf">
    <tr>
    {%for p in products_dontbuy %}
    <td><a class="product_link" href="{{p.get_absolute_url}}"><img src="{{p.image.thumbnail.url}}" alt="{{p.name}}"></a><br>{{p.name}}</td>
    {% if forloop.counter|divisibleby:"3" %}
    </tr>
    <tr>
    {%endif%}
    {%endfor%}
    </tr>
  </table>

<hr class="heavy"><hr>

<h2>Companies I Support</h2>
  <table id="company_shelf">
    <tr>
    {%for c in companies_support %}
    <td><a href="{{c.get_absolute_url}}"><img src="{{c.logo.thumbnail.url}}" alt="{{c.name}}"></a></td>
    {% if forloop.counter|divisibleby:"3" %}
    </tr>
    <hr>
    <tr>
    {%endif%}
    {%endfor%}
    </tr>
  </table>
    
  <hr>
      
<h2>Companies I Oppose</h2>
  <table id="company_shelf">
    <tr>
    {%for c in companies_oppose %}
    <td><a href="{{c.get_absolute_url}}"><img src="{{c.logo.thumbnail.url}}" alt="{{c.name}}"></a></td>
    {% if forloop.counter|divisibleby:"3" %}
    </tr>
    <tr>
    {%endif%}
    {%endfor%}
    </tr>
  </table>
  
  </div>

{%endblock%}