{% extends "base.html" %}

{%block css %}
<link rel="stylesheet" href="{{MEDIA_URL}}styles/frontpage.css" type="text/css"/>
<link href="{{MEDIA_URL}}/jquery/autocomplete/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}/jquery/autocomplete/jquery.autocomplete.js"></script>
{%endblock%}

{% block title %}Toolkit{% endblock %}

{%block content%}
<div class="block" id="main_block">
<p><em>Boy.co.tt</em> provides tools for consumers to organize collective economic action. You can learn about the politics behind everyday companies and products, pledge to join a campaign, and share information with your friends.</p>
<p>Join the community to <a href="/target/campaign/new">start a new campaign</a>, <a href="/target/company/new">add a company</a>, or <a href="/target/product/new">product</a>.</p>
</div>

<div class="block" id="highlight_block">
{% include "search_autocomplete.html" %}
</div>

  {% for campaign in campaigns %}
  <div class="block" style="width:200px;"><h2>Boycott</h2>
    <h3><a href="{{campaign.get_absolute_url}}">{{campaign.name}}</a></h3>
    <h4><a href="">{{campaign.users_joined_campaign.count}} {{campaign.users_joined_campaign.count|pluralize:"person,people"}}</a>, <a href="">{{campaign.products.count}} product{{campaign.products.count|pluralize}}</a></h4></div>
  {%endfor%}

  <div style="float:left">
  <h2>Tracked Products</h2>
  <div class="shelf">
  <hr>
  <table>
    <tr>
    {%for p in products %}
    <td><a class="product_link" href="{{p.get_absolute_url}}"><img src="{{p.image.thumbnail.url}}" alt="{{p.name}}"></a><br>{{p.name}}</td>
    {% if forloop.counter|divisibleby:"3" %}
    </tr>
    <tr>
    {%endif%}
    {%endfor%}
    </tr>
  </table>
  </div>
  
  </div>
  
{%endblock%}