#comments {
    margin-top:10px;
    float:left;
}

#comments hr {
}

#comments-list {
    font-size:10pt;
}

.comment-left {
    text-align:left;
}
.comment-right {
    text-align:right;
}

#comment-form {
    margin-top:10px;
    float:left;
    font-size:12pt;
}

#comment-form form label {
    text-align:top;
}