.fieldWrapper {
    padding-bottom:10px;
    float:left;
    clear:left;
    border-top:1px solid #C2C2C2;
    padding-top:10px;
    width:500px;
}

.fieldHelpText {
    color:gray;
    font-style:italic;
    //padding-left:10px;
    font-size:10pt;
    width:150px;
    float:left;
}

.fieldLabel {
    vertical-align:top;
    font-weight:bold;
    display:inline;
    float:left;
    width:150px;
}


.fieldError {
    font-weight:bold;
    color:red;
    float:left;
    clear:left;
}

.field {
    padding-left:5px;
    display:inline;
    vertical-align:top;
    float:right;
    width:300px;
}

input {
    float:left;
    clear:left;
    text-align:left;
}

textarea {
    width:300px;
}

hr {
    clear:left;
}

h2 {
    float:left;
    clear:left;
}

.citation_save_link {
    font-weight:bold;
    font-style:italic;
}